<h1 id="list-all-tracepoints-of-your-system">List all tracepoints of your system</h1>
<p>From inside qemu, start a python based webserver, </p>
<p>go to qemu, <code>make qemu-run</code></p>
<p><code>root@q:/linux-dev-env# python3 -m http.server 52223 --directory .</code>
//note this runs over TCP</p>
<p>Here, our QEMU, where we run python web server is inside privileged docker container.</p>
<p>Now, from host brwose,
<code>http://127.0.0.1:52223/</code></p>
<p>Also you can ssh to qemu from host,
<code>make qemu-ssh</code></p>
<pre><code class="language-bash">root@q:/linux-dev-env# find /sys/kernel/debug/tracing/events/ -type f -name &quot;id&quot; | sed &#39;s|/sys/kernel/debug/tracing/events/|SEC(&quot;tp/|; s|/id|&quot;)|&#39; &gt; all_tracepoints.txt

SEC(&quot;tp/initcall/initcall_finish&quot;)
SEC(&quot;tp/initcall/initcall_start&quot;)
SEC(&quot;tp/initcall/initcall_level&quot;)
SEC(&quot;tp/vsyscall/emulate_vsyscall&quot;)
SEC(&quot;tp/syscalls/sys_exit_arch_prctl&quot;)
SEC(&quot;tp/syscalls/sys_enter_arch_prctl&quot;)
SEC(&quot;tp/syscalls/sys_exit_rt_sigreturn&quot;)
SEC(&quot;tp/syscalls/sys_enter_rt_sigreturn&quot;)
SEC(&quot;tp/syscalls/sys_exit_iopl&quot;)
SEC(&quot;tp/syscalls/sys_enter_iopl&quot;)
SEC(&quot;tp/syscalls/sys_exit_ioperm&quot;)
SEC(&quot;tp/syscalls/sys_enter_ioperm&quot;)
SEC(&quot;tp/syscalls/sys_exit_modify_ldt&quot;)
SEC(&quot;tp/syscalls/sys_enter_modify_ldt&quot;)
SEC(&quot;tp/syscalls/sys_exit_mmap&quot;)
SEC(&quot;tp/syscalls/sys_enter_mmap&quot;)
SEC(&quot;tp/syscalls/sys_exit_uretprobe&quot;)
SEC(&quot;tp/syscalls/sys_enter_uretprobe&quot;)
SEC(&quot;tp/syscalls/sys_exit_unshare&quot;)
SEC(&quot;tp/syscalls/sys_enter_unshare&quot;)
SEC(&quot;tp/syscalls/sys_exit_clone3&quot;)
SEC(&quot;tp/syscalls/sys_enter_clone3&quot;)
SEC(&quot;tp/syscalls/sys_exit_clone&quot;)
SEC(&quot;tp/syscalls/sys_enter_clone&quot;)
SEC(&quot;tp/syscalls/sys_exit_vfork&quot;)
SEC(&quot;tp/syscalls/sys_enter_vfork&quot;)
SEC(&quot;tp/syscalls/sys_exit_fork&quot;)
SEC(&quot;tp/syscalls/sys_enter_fork&quot;)
SEC(&quot;tp/syscalls/sys_exit_set_tid_address&quot;)
SEC(&quot;tp/syscalls/sys_enter_set_tid_address&quot;)
SEC(&quot;tp/syscalls/sys_exit_personality&quot;)
SEC(&quot;tp/syscalls/sys_enter_personality&quot;)
SEC(&quot;tp/syscalls/sys_exit_wait4&quot;)
SEC(&quot;tp/syscalls/sys_enter_wait4&quot;)
SEC(&quot;tp/syscalls/sys_exit_waitid&quot;)
SEC(&quot;tp/syscalls/sys_enter_waitid&quot;)
SEC(&quot;tp/syscalls/sys_exit_exit_group&quot;)
SEC(&quot;tp/syscalls/sys_enter_exit_group&quot;)
SEC(&quot;tp/syscalls/sys_exit_exit&quot;)
SEC(&quot;tp/syscalls/sys_enter_exit&quot;)
SEC(&quot;tp/syscalls/sys_exit_capset&quot;)
SEC(&quot;tp/syscalls/sys_enter_capset&quot;)
SEC(&quot;tp/syscalls/sys_exit_capget&quot;)
SEC(&quot;tp/syscalls/sys_enter_capget&quot;)
SEC(&quot;tp/syscalls/sys_exit_ptrace&quot;)
SEC(&quot;tp/syscalls/sys_enter_ptrace&quot;)
SEC(&quot;tp/syscalls/sys_exit_rt_sigsuspend&quot;)
SEC(&quot;tp/syscalls/sys_enter_rt_sigsuspend&quot;)
SEC(&quot;tp/syscalls/sys_exit_pause&quot;)
SEC(&quot;tp/syscalls/sys_enter_pause&quot;)
SEC(&quot;tp/syscalls/sys_exit_rt_sigaction&quot;)
SEC(&quot;tp/syscalls/sys_enter_rt_sigaction&quot;)
SEC(&quot;tp/syscalls/sys_exit_sigaltstack&quot;)
SEC(&quot;tp/syscalls/sys_enter_sigaltstack&quot;)
SEC(&quot;tp/syscalls/sys_exit_rt_tgsigqueueinfo&quot;)
SEC(&quot;tp/syscalls/sys_enter_rt_tgsigqueueinfo&quot;)
SEC(&quot;tp/syscalls/sys_exit_rt_sigqueueinfo&quot;)
SEC(&quot;tp/syscalls/sys_enter_rt_sigqueueinfo&quot;)
SEC(&quot;tp/syscalls/sys_exit_tkill&quot;)
SEC(&quot;tp/syscalls/sys_enter_tkill&quot;)
SEC(&quot;tp/syscalls/sys_exit_tgkill&quot;)
SEC(&quot;tp/syscalls/sys_enter_tgkill&quot;)
SEC(&quot;tp/syscalls/sys_exit_pidfd_send_signal&quot;)
SEC(&quot;tp/syscalls/sys_enter_pidfd_send_signal&quot;)
SEC(&quot;tp/syscalls/sys_exit_kill&quot;)
SEC(&quot;tp/syscalls/sys_enter_kill&quot;)
SEC(&quot;tp/syscalls/sys_exit_rt_sigtimedwait&quot;)
SEC(&quot;tp/syscalls/sys_enter_rt_sigtimedwait&quot;)
SEC(&quot;tp/syscalls/sys_exit_rt_sigpending&quot;)
SEC(&quot;tp/syscalls/sys_enter_rt_sigpending&quot;)
SEC(&quot;tp/syscalls/sys_exit_rt_sigprocmask&quot;)
SEC(&quot;tp/syscalls/sys_enter_rt_sigprocmask&quot;)
SEC(&quot;tp/syscalls/sys_exit_restart_syscall&quot;)
SEC(&quot;tp/syscalls/sys_enter_restart_syscall&quot;)
SEC(&quot;tp/syscalls/sys_exit_sysinfo&quot;)
SEC(&quot;tp/syscalls/sys_enter_sysinfo&quot;)
SEC(&quot;tp/syscalls/sys_exit_getcpu&quot;)
SEC(&quot;tp/syscalls/sys_enter_getcpu&quot;)
SEC(&quot;tp/syscalls/sys_exit_prctl&quot;)
SEC(&quot;tp/syscalls/sys_enter_prctl&quot;)
SEC(&quot;tp/syscalls/sys_exit_umask&quot;)
SEC(&quot;tp/syscalls/sys_enter_umask&quot;)
SEC(&quot;tp/syscalls/sys_exit_getrusage&quot;)
SEC(&quot;tp/syscalls/sys_enter_getrusage&quot;)
SEC(&quot;tp/syscalls/sys_exit_setrlimit&quot;)
SEC(&quot;tp/syscalls/sys_enter_setrlimit&quot;)
SEC(&quot;tp/syscalls/sys_exit_prlimit64&quot;)
SEC(&quot;tp/syscalls/sys_enter_prlimit64&quot;)
</code></pre>
