<h1 id="conference-venues">Conference Venues</h1>
<h2 id="sigops">SIGOPS</h2>
<ol>
<li>HotOS: <a href="https://sigops.org/s/conferences/hotos/">https://sigops.org/s/conferences/hotos/</a> -- happens in every two years</li>
<li>SOSP: <a href="https://sigops.org/s/conferences/sosp/">https://sigops.org/s/conferences/sosp/</a> -- happens every year</li>
</ol>
<h2 id="usenix">USENIX</h2>
<ol>
<li>OSDI: <a href="https://www.usenix.org/conference/osdi25">https://www.usenix.org/conference/osdi25</a> -- happens every year</li>
<li>NSDI: <a href="https://www.usenix.org/conference/nsdi25">https://www.usenix.org/conference/nsdi25</a> -- happens every year</li>
<li>ATC: <a href="https://www.usenix.org/conference/atc24">https://www.usenix.org/conference/atc24</a> -- happens every year</li>
</ol>
<h2 id="other-venues">Other venues</h2>
<ol>
<li>ASPLOS: <a href="https://www.asplos-conference.org/">https://www.asplos-conference.org/</a> -- happens every year</li>
<li>Eurosys: <a href="https://www.eurosys.org/">https://www.eurosys.org/</a> -- happens every year</li>
</ol>
<p>SOSP generally holds the highest prestige due to its exclusive focus on operating systems principles, while ASPLOS and EuroSys have a broader scope encompassing system architecture and programming languages, with HotOS focusing more specifically on operating systems design and implementation. </p>
<h2 id="mobile">Mobile</h2>
<ul>
  <li>
    MobiHoc—Mobile Ad Hoc Networking and Computing—happens every year
    (<a href="https://www.sigmobile.org/mobihoc">https://www.sigmobile.org/mobihoc</a>)
  </li>
  <li>
    MOBICOM—Mobile Computing and Networking—happens every year
    (<a href="https://www.sigmobile.org/mobicom">https://www.sigmobile.org/mobicom</a>)
  </li>
  <li>
    USENIX Security Symposium—happens every year
    (<a href="https://www.usenix.org/conference/usenixsecurity23">https://www.usenix.org/conference/usenixsecurity23</a>)
  </li>
  <li>
    MobiSys—International Conference on Mobile Systems—happens every year
    (<a href="https://www.sigmobile.org/mobisys/">https://www.sigmobile.org/mobisys/</a>)
  </li>
  <li>TMC—IEEE Transactions on Mobile Computing</li>
  <li>MONET—Mobile Networks and Applications</li>
  <li>MCCR—Mobile Computing and Communications Review</li>
  <li>PerCom—Pervasive and Mobile Computing</li>
  <li>HOTMOBILE—Pervasive and Mobile Computing</li>
</ul>
<h2 id="other-useful">Other useful</h2>
<ol>
<li><a href="https://lwn.net/Archives/ConferenceIndex/">https://lwn.net/Archives/ConferenceIndex/</a></li>
<li><a href="https://source.android.com/docs/core/architecture/kernel/android-common">https://source.android.com/docs/core/architecture/kernel/android-common</a></li>
<li><a href="https://source.android.com/docs/core/architecture/kernel">https://source.android.com/docs/core/architecture/kernel</a></li>
<li><a href="https://source.android.com/docs/core/architecture/kernel/config">https://source.android.com/docs/core/architecture/kernel/config</a></li>
<li>Linux kernel summit: <a href="https://events.linuxfoundation.org/about/calendar/archive/">https://events.linuxfoundation.org/about/calendar/archive/</a></li>
<li>Embedded Linux Conferences: <a href="https://www.embeddedlinuxconference.com/">https://www.embeddedlinuxconference.com/</a></li>
<li><a href="https://www.fosdem.org/2025/schedule/track/aosp/">https://www.fosdem.org/2025/schedule/track/aosp/</a></li>
<li><a href="https://events.linuxfoundation.org/">https://events.linuxfoundation.org/</a> (<a href="https://events.linuxfoundation.org/archive/2023/embedded-open-source-summit/program/schedule/">https://events.linuxfoundation.org/archive/2023/embedded-open-source-summit/program/schedule/</a>)</li>
</ol>
<h2 id="lpc-very-useful-">LPC (Very useful)</h2>
<p>Kernel: <a href="https://lpc.events/event/18/sessions/177/#20240919">https://lpc.events/event/18/sessions/177/#20240919</a>
<a href="https://lpc.events/event/18/sessions/176/#all">https://lpc.events/event/18/sessions/176/#all</a>
SOSP and USENIX ATC for Android Kernel (memory management, scheduling algorithms, file systems, security mechanisms, virtual technology etc.)</p>
<p>Also check arxiv: arxiv.org (this is not peer-reviewed) -- maintained and operated by Cornell University.</p>
